<div id="about" class="row tabContent">

    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">

        When the sun is near the horizon, sunlight travels through a greater depth of atmosphere, reducing the intensity of the direct
        light, so that more of the illumination comes from indirect light from the sky (Thomas 1973, 9–13), reducing the
        lighting ratio. More blue light is scattered, so if the sun is present, its light appears more reddish. In addition,
        the sun's small angle with the horizon produces longer shadows. Golden hour at sunset in Tasmania, Australia The
        term "hour" is used figuratively; the effect has no clearly defined duration and varies according to season and latitude.
        The character of the lighting is determined by the sun's altitude, and the time for the sun to move from the horizon
        to a specified altitude depends on a location's latitude and the time of year (Bermingham 2003, 214). In Los Angeles,
        California, at an hour after sunrise or an hour before sunset, the sun has an altitude of about 10°–12°.[1] For a
        location closer to the equator, the same altitude is reached in less than an hour, and for a location farther from
        the equator, the altitude is reached in more than one hour. For a location sufficiently far from the equator, the
        sun may not reach an altitude of 10°, and the golden hour lasts for the entire day in certain seasons. In the middle
        of the day, the bright overhead sun can create strong highlights and dark shadows. The degree to which overexposure
        can occur varies because different types of film and digital cameras have different dynamic ranges. This harsh lighting
        problem is particularly important in portrait photography, where a fill flash is often necessary to balance lighting
        across the subject's face or body, filling in strong shadows that are usually considered undesirable. Because the
        contrast is less during the golden hour, shadows are less dark, and highlights are less likely to be overexposed.
        In landscape photography, the warm color of the low sun is often considered desirable to enhance the colours of the
        scene.



    </div>
</div>