<div id="goldenHourcalculater" class="row tabContent">

    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <button id="backButton" class="btn btn-default  btn-xs" type="button">start over</button>

        <form id="zmanimForm" class="form-horizontal">
            <div class="form-group">
                <label>Place</label>
                <input id="zmanimFormPlace" type="text" name="place" placeholder="place">
            </div>
            <div class="form-group">
                <label>date</label>
                <!--input id="zmanimFormDate" type="date" name="date" placeholder="date"-->
                <input id="datepicker" type="text" name="date">
            </div>
            <button id="zmanimFormButton" class="btn btn-default" type="button">calculate golden hour</button>
        </form>

        <ul id="placesList"> pick a location </ul>
        <div id="zmanimdata">
            <h3> </h3>
        </div>






    </div>
</div>